@import "tailwindcss";

@import "./theme.css" layer(theme);
@custom-variant dark (&:where(.theme-dark, .theme-dark *));

@plugin "@tailwindcss/typography";

@source "../../../../packages/cli/src";

html {
  overscroll-behavior: none;
}
