@theme {
  --color-background: var(--color-gray-400);
  --color-on-background: var(--color-black);
  --color-button: var(--color-zinc-200);
}

.theme-dark {
  --color-background: #1f1f1f;
  --color-on-background: #bbbbbb;
  --color-button: var(--color-zinc-800);
}
