@theme {
  --color-background: var(--color-sky-200);
  --color-on-background: var(--color-black);
  --color-button-background: var(--color-zinc-100);
  --color-spinner: var(--color-zinc-400);
}

.theme-dark {
  --color-background: #1f1f1f;
  --color-on-background: #dddddd;
  --color-button-background: var(--color-zinc-800);
  --color-spinner: var(--color-blue-400);
}
